body {
    font-family: "Plus Jakarta Sans", sans-serif;
    background-color: #000000;
}
h1 {
    color: #F4F4F4;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.icon {
    weight: 24px;
    height: auto;
}
.socials {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 15px;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
}